// ToDo: после перехода на %page-container, удалить
%container {
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
}

%page-container {
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}

%page-content-indents {
  padding: $default-content-top-indent 0 $default-content-bottom-indent;
}

%inline-insert-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

%stretch {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

// Adaptive mixins
@mixin maxWidth($resolution) {
  @media (max-width: #{$resolution}px) {
    @content;
  }
}

@mixin minWidth($resolution) {
  @media (min-width: #{$resolution}px) {
    @content;
  }
}

@mixin range($minResolution, $maxResolution) {
  @media (min-width: #{$minResolution}px) and (max-width: #{$maxResolution}px) {
    @content;
  }
}

@mixin geIE10() {
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    @content;
  }
}

@mixin geFF16() {
  @supports (-moz-appearance:meterbar) {
    @content;
  }
}

@mixin break1640 {
  @media (max-width: 1640px) {
    @content;
  }
}

@mixin break1524 {
  @media (max-width: 1524px) {
    @content;
  }
}

@mixin break1366 {
  @media (max-width: 1366px) {
    @content;
  }
}

@mixin break1280 {
  @media (max-width: 1280px) {
    @content;
  }
}

@mixin break1200 {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin break1180 {
  @media (max-width: 1180px) {
    @content;
  }
}

@mixin break1120 {
  @media (max-width: 1120px) {
    @content;
  }
}

@mixin break1024 {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin break991 {
  @media (max-width: 991px) {
    @content;
  }
}

@mixin break960 {
  @media (max-width: 960px) {
    @content;
  }
}

@mixin break920 {
  @media (max-width: 920px) {
    @content;
  }
}

@mixin break864 {
  @media (max-width: 864px) {
    @content;
  }
}

@mixin break768 {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin break767 {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin break680 {
  @media (max-width: 680px) {
    @content;
  }
}

@mixin break640 {
  @media (max-width: 640px) {
    @content;
  }
}

@mixin break480 {
  @media (max-width: 480px) {
    @content;
  }
}

@mixin break425 {
  @media (max-width: 425px) {
    @content;
  }
}

@mixin break424 {
  @media (max-width: 424px) {
    @content;
  }
}

@mixin break421 {
  @media (max-width: 421px) {
    @content;
  }
}

@mixin break375 {
  @media (max-width: 375px) {
    @content;
  }
}

@mixin base-scroll($background: $primary, $track-background: $white, $thumb-background: $line) {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  /* total width */
  &::-webkit-scrollbar {
    width: 6px;
    background-color: $background;
  }

  /* background of the scrollbar except button or resizer */
  &::-webkit-scrollbar-track {
    background-color: $track-background;
  }

  &::-webkit-scrollbar-track:hover {
    background-color: $track-background;
  }

  /* scrollbar itself */
  &::-webkit-scrollbar-thumb {
    border: 0;
    border-radius: 16px;
    background-color: $thumb-background;
  }

  &::-webkit-scrollbar-thumb:hover {
    border: 0;
    background-color: $thumb-background;
  }

  /* set button(top and bottom of the scrollbar) */
  &::-webkit-scrollbar-button {
    display: none;
  }
}

@mixin styleFor($name) {
  &[data-template='#{$name}-template'] {
    @content;
  }
}
