input {
  height: 28px;
  min-width: 150px;
  font-size: 13px;
  margin: 0 0 24px;
  padding: 5px 10px;
  border: 1px solid #cecece;
  background: #F6F6f6;
  border-radius: 5px;

  &:focus {
    border-bottom: solid 2px #000;
    outline: 0;
  }
}

.input-block__label {
  margin: 0 0 3px 5px;
}