.input-block {
  position: relative;
  width: 100%;
  margin-bottom: 24px;

  &__text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__fields-error {
    @extend %caption;

    position: absolute;
    bottom: -20px;
    width: 100%;
    height: 12px;
    padding-left: 0;
    color: $satisfaction-0 !important;
    font-size: 12px !important;
  }

  &__max-size {
    margin-left: 5px;
    white-space: nowrap;
  }

  &__label {
    @extend %caption;

    min-height: 20px;
    margin-bottom: 4px;
    padding-left: 0;
    color: $secondary;
    font-size: 14px !important;

    &--left {
      margin-right: 8px;
      margin-bottom: 0;
      padding-left: 0;
    }
  }

  input,
  textarea {
    @extend %body-2;

    box-sizing: border-box;
    width: 100%;
    height: 40px;
    padding: 0 12px;
    border: $default-border;
    border-bottom: 2px solid $border-gray;
    border-radius: 4px;
    outline: none !important;
    background: none;
    box-shadow: none !important;

    &.placeholder {
      @extend %body-2;

      color: $secondary !important;
    }

    &:-moz-placeholder {
      color: $secondary !important;
    }

    &::-moz-placeholder {
      color: $secondary !important;
    }

    &::-webkit-input-placeholder {
      color: $secondary !important;
    }

    &:-ms-input-placeholder {
      color: $secondary !important;
    }

    &[disabled] {
      &.placeholder {
        @extend %body-2;

        color: $secondary !important;
      }

      &:-moz-placeholder {
        color: $secondary !important;
      }

      &::-moz-placeholder {
        color: $secondary !important;
      }

      &::-webkit-input-placeholder {
        color: $secondary !important;
      }

      &:-ms-input-placeholder {
        color: $secondary !important;
      }
    }

    &:focus {
      border-bottom: 2px solid $regular-blue;
    }

    &.form-control {
      &[disabled] {
        background: #eceff1;
        cursor: default;
      }
    }

    &::-ms-clear {
      display: none;
    }
  }

  textarea {
    min-height: 72px;
    padding: 10px 12px !important;
    resize: vertical;
  }

  &__icon {
    position: absolute;
    top: 50%;
    right: 12px;
    width: 18px;
    height: 18px;
    transform: translateY(-50%);
    cursor: pointer;

    svg {
      position: relative;
      top: -2px;
      width: 18px;
      height: 18px;
      color: $secondary;
    }

    &--double {
      right: 36px !important;
    }

    &--with-label {
      margin-top: 15px;
    }

    &--search {
      right: inherit;
      left: 12px;
      width: 24px;
      height: 24px;
      cursor: default;

      svg {
        width: 24px;
        height: 24px;
      }
    }
  }

  &--with-icon {
    input {
      padding-right: 32px !important;
    }
  }

  &--search-mode {
    input {
      padding-left: 45px !important;
    }
  }

  &--error {
    .input-block__label {
      color: $satisfaction-0 !important;
    }

    input,
    textarea {
      border-bottom: 2px solid $satisfaction-0 !important;

      &:focus {
        border-bottom: 2px solid $satisfaction-0 !important;
      }

      &.placeholder {
        color: $secondary !important;
      }

      &:-moz-placeholder {
        color: $secondary !important;
      }

      &::-moz-placeholder {
        color: $secondary !important;
      }

      &::-webkit-input-placeholder {
        color: $secondary !important;
      }

      &:-ms-input-placeholder {
        color: $secondary !important;
      }
    }
  }
}
