.search-img-in-inst {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  padding: 34px;

  &__title {
    margin-bottom: 6px;
  }

  &__body {
    width: 100%;
    height: 100%;
    box-shadow: 0 6px 12px $bc090;
    border-radius: 12px;
    box-sizing: border-box;
  }

  &__column {
    width: 100%;
    height: 100%;
    border-right: 2px solid $bc900;
    box-sizing: border-box;

    &:last-child {
      border-right: none;
    }
  }

  &__column-top {
    width: 100%;
    min-height: 94px;
    padding: 12px;
    box-sizing: border-box;
  }

  &__column-top-title {
    width: 100%;
    margin-bottom: 6px;
  }

  &__column-top-search {
    width: 100%;
  }

  &__column-img {
    height: 100vh;
    width: 100%;
    padding: 0 12px;
    box-sizing: border-box;
    overflow: auto;
  }

  &__column-img-result {
    margin-top: 12px;
  }

  &__input {
    border: 2px solid $bc900;
    border-radius: 4px;
    padding: 8px;
  }

  &__button {
    background-color: $cab500;
    padding: 9px 12px;
    border-radius: 6px;
    color: $bs000;
  }

  &__img {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 8px;
  }

  &__loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: $bc900;
    opacity: 0.5;
    z-index: 1;
  }
}
