.toast {
  max-width: 400px;
  position: absolute;
  right: 40px;
  bottom: 40px;
  border-radius: 8px;
  padding: 20px;
  opacity: 1;
  z-index: 9999;
  transition: 0.5s;
  color: $white;

  &__hidden {
    max-width: 400px;
    position: absolute;
    right: -1000px;
    bottom: 40px;
    border-radius: 8px;
    padding: 20px;
    opacity: 0.3;
    transition: 0.5s;
    color: $white;
    z-index: 9999;  
  }

  &__error {
    background-color: $ra500;
  }

  &__success {
    background-color: $ae200;
  }
}
